*
{
    margin: 0;
    padding:0;
}
body
{
    background-image: url(bacground.png);
    background-repeat: no-repeat;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    background-size: cover;
    background-color: rgba(165, 129, 9, 0.426);
    background-blend-mode: lighten;
}
#wrap
{

width: 100%;
}
#baner
{
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CDAE6D;
    padding: 2%;
    border-bottom: none;
    
    
}
#home
{
position: relative;
float: right;
margin-right: 2%;
}
#menu
{
    position: relative;
    float: left;
}
#menu:hover
{
    position: relative;
    float: left;
    background-color: #907843;
}


#menu:hover .menu1
{
    display: block;
    position: absolute;
    padding: 50%;
    background-color: #907843;
    border-bottom: none;
    
}
.menu1
{
    display: none;
}
a
{
    text-decoration: none;
    position: relative;
    float:left;
    color: #fff
    
}
a:hover
{
    background-color: #312406;
}
#content
{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.home
{
    color: #000;
}
.debiuty
{
    padding: 4%;
    border:#000 solid;
    width: 35%;
    margin-left: 2%;
    margin-right: auto;
    float: left;
    margin-bottom: 4%;
    border-radius: 10px;
}
.debiuty:hover
{
    background-color: #d1c5c5;
    
}
img
{
    width:40%;

}

